@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}
/* body {
  background: #ffc107;
} */
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 50px;
  white-space: nowrap;
  border-left: 5px solid #6394f8;
  border-right: 5px solid #6394f8;
  border-bottom: 5px solid #6394f8;
}
.loading-letter {
  list-style: none;
  position: relative;
  color: #6394f8;
  display: inline-block;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  animation: animate 1.5s infinite linear;
}
.loading-letter:nth-of-type(4) {
  color: rgb(216, 162, 12);
}
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  25% {
    transform: translateY(-100px) rotate(180deg);
  }
  50% {
    transform: translateY(0) rotate(360deg);
  }
  100% {
    transform: translateY(0) rotate(360deg);
  }
}
.loading-letter:nth-of-type(1) {
  animation-delay: 0s;
}
.loading-letter:nth-of-type(2) {
  animation-delay: 0.1s;
}
.loading-letter:nth-of-type(3) {
  animation-delay: 0.2s;
}
.loading-letter:nth-of-type(4) {
  animation-delay: 1s;
}
.loading-letter:nth-of-type(5) {
  animation-delay: 0s;
}
.loading-letter:nth-of-type(6) {
  animation-delay: 0.1s;
}
.loading-letter:nth-of-type(7) {
  animation-delay: 0.2s;
}
